*.a
*.o
*.cmo
*.cma
*.cmi
*.cmt
*.cmti
*.cmxs
*.cmxa
*.cmx
*.aux
*.d
*.glob
*.vo
*.vok
*.vos
*~
g_*.ml

.DS_Store

# dune
_build

.merlin

# coq_makefile
Makefile.coq
Makefile.coq.conf
META

.DS_Store
.swp
a.out